@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.video-background {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    width: 101vw;
    height: 101vh;
    top: -7px;
    left: -8px;
    z-index: 0;
    margin-top: 8px;
    margin-left: 8px;
  }
  
  .video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130vw;
    height: 130vh;
    margin-top: 8px;
    margin-left: 8px;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .placeholder-container{
    background: #ba9984;
    /* C9A690 */
    position: fixed;
    height: 101vh;
    width: 101vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 35px;
    top: -2px;
    left: -2px;
  }

  .placeholder-text{
    margin-bottom: 100px;
  }
  
  .img-container{
    height: 150px;
    transform: rotate(311deg);
    margin-top: -106px;
    margin-left: -16px;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .video-background iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-background iframe {
      width: 177.78vh;
    }
  }

  body{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .tooltip{
      position: absolute;
      top: 2%;
      left: 1%;
      z-index: 1;
  }

  .ant-drawer-content-wrapper{
    width: 500px !important;
  }

  .ant-drawer-wrapper-body{
    background: #272838;
    color: white;
  }

  .ant-divider-inner-text{
    color: white
  }

  .ant-space{
    gap: 65px !important;
  }


  @media (min-width:320px)  {
    .ant-drawer-content-wrapper{
      width: 381px !important;
    }
    .ant-select{
      margin-left: 23% !important;
      margin-bottom: 10%;
      width: 180px;
    }
    
    .video-background{
      height: 101vh !important;
      width: 101vw !important;
    }

    .placeholder-text{
      margin-left: 18px !important;
      width: 400px !important;
    }

    .img-container{
      margin-right: 53px !important;
    }

    body {
      position: fixed;
    }

    .tooltip{
      touch-action: manipulation;
    }
  }